LA-Ankit-ADF1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "LA-Ankit-ADF1"
		},
		"AmazonS31_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'AmazonS31'"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStoragedynamic_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStoragedynamic'"
		},
		"Snowflake2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Snowflake2'"
		},
		"Snowflake3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'Snowflake3'"
		},
		"AmazonS31_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAVY7O7CXVMYE3BYBV"
		},
		"EventTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/586f6c5b-608d-4cd5-8b0c-7f9bc50cb3d3/resourceGroups/LearningAzure/providers/Microsoft.Storage/storageAccounts/47dastorage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "snowflake-nav-bucket-1/pipeline/mesh_100_loan_0811_without_header.csv"
							},
							{
								"name": "Destination",
								"value": "TRIAL_SCHEMA.MESH_DATA_AUTO"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "SnowflakeSink",
								"importSettings": {
									"type": "SnowflakeImportCopyCommand"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "snowflake-migration"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "LOANID",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "DATAASOF",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 3
										},
										"sink": {
											"name": "INVESTORID",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 4
										},
										"sink": {
											"name": "INVESTORNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "BOARDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 6
										},
										"sink": {
											"name": "LIENPOSITION",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 7
										},
										"sink": {
											"name": "LOANTYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 8
										},
										"sink": {
											"name": "LOANPRODUCT",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 9
										},
										"sink": {
											"name": "LOANPURPOSE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 10
										},
										"sink": {
											"name": "LASTSTATEMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 11
										},
										"sink": {
											"name": "ORIGINALNOTEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 12
										},
										"sink": {
											"name": "FEMAAFFECT",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 13
										},
										"sink": {
											"name": "COURTESYPERIOD",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 14
										},
										"sink": {
											"name": "ISATTORNEY",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 15
										},
										"sink": {
											"name": "ANNUALESCROWACCOUNTSTATEMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 16
										},
										"sink": {
											"name": "ESCROWACCOUNTCOMPUTATIONDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 17
										},
										"sink": {
											"name": "ESCROWCANCELDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 18
										},
										"sink": {
											"name": "ISESCROWED",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 19
										},
										"sink": {
											"name": "ESCROWCANCELNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 20
										},
										"sink": {
											"name": "EVIDENCEOFINSDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 21
										},
										"sink": {
											"name": "INITIALESCROWSTATEMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 22
										},
										"sink": {
											"name": "ORIGINALESCROWNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 23
										},
										"sink": {
											"name": "BORRESCROWCANCELREQDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 24
										},
										"sink": {
											"name": "MBADQ",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 25
										},
										"sink": {
											"name": "LOANSCHEDFORSALE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 26
										},
										"sink": {
											"name": "ADVERSECREDITBORRNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 27
										},
										"sink": {
											"name": "ADVERSECREDITREPORTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 28
										},
										"sink": {
											"name": "BORRERRORDOCREQDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 29
										},
										"sink": {
											"name": "BORRERRORNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 30
										},
										"sink": {
											"name": "BORRERRORNOTICEONPAYOFF",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 31
										},
										"sink": {
											"name": "BORRINFOREQDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 32
										},
										"sink": {
											"name": "BORRNOTICEERRORDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 33
										},
										"sink": {
											"name": "ERRORRESEXTENSION",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 34
										},
										"sink": {
											"name": "ERRORRESDOCDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 35
										},
										"sink": {
											"name": "ERRORRESLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 36
										},
										"sink": {
											"name": "INFOREQRESPONSEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 37
										},
										"sink": {
											"name": "NOTICEACKLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 38
										},
										"sink": {
											"name": "PAYOFFDELIVERYDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 39
										},
										"sink": {
											"name": "PAYOFFREQUESTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 40
										},
										"sink": {
											"name": "FORCEPLACEDINS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 41
										},
										"sink": {
											"name": "FORCEPLACEDINSFEEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 42
										},
										"sink": {
											"name": "FORCEPLACEDINSNOTICE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 43
										},
										"sink": {
											"name": "FORCEPLACEDINSREMINDER",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 44
										},
										"sink": {
											"name": "FPINSURANCECANCELDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 45
										},
										"sink": {
											"name": "TRANSFER404NOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 46
										},
										"sink": {
											"name": "GOODBYELETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 47
										},
										"sink": {
											"name": "SERVICERELEASEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 48
										},
										"sink": {
											"name": "SERVICERELEASESCHEDULEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 49
										},
										"sink": {
											"name": "WELCOMELETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 50
										},
										"sink": {
											"name": "WARNINGSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 51
										},
										"sink": {
											"name": "DELINQSTATATBOARDING",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 52
										},
										"sink": {
											"name": "DOCUMENTATIONTYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 53
										},
										"sink": {
											"name": "LEGALSTATUS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 54
										},
										"sink": {
											"name": "PREPAYMENTPENALTYFEE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 55
										},
										"sink": {
											"name": "INTERESTMETHOD",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 56
										},
										"sink": {
											"name": "LOANAPR",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 57
										},
										"sink": {
											"name": "ADDITIONALDISPUTEINFODATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 58
										},
										"sink": {
											"name": "SPOCASSGNDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 59
										},
										"sink": {
											"name": "SCRASTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 60
										},
										"sink": {
											"name": "SCRASTATUSRUNDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 61
										},
										"sink": {
											"name": "BORRSCRANOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 62
										},
										"sink": {
											"name": "EFTSCHDNOTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 63
										},
										"sink": {
											"name": "ETFSCHEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 64
										},
										"sink": {
											"name": "BORRFIRSTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 65
										},
										"sink": {
											"name": "BORRLASTNAME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 66
										},
										"sink": {
											"name": "MAILINGSTATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 67
										},
										"sink": {
											"name": "BORRCURRFICO",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 68
										},
										"sink": {
											"name": "ORIGBORRFICO",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 69
										},
										"sink": {
											"name": "PROPADDRESS1",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 70
										},
										"sink": {
											"name": "PROPADDRESS2",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 71
										},
										"sink": {
											"name": "PROPCITY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 72
										},
										"sink": {
											"name": "PROPSTATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 73
										},
										"sink": {
											"name": "PROPZIP",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 74
										},
										"sink": {
											"name": "PROPGEOCODE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 75
										},
										"sink": {
											"name": "PROPCOUNTY",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 76
										},
										"sink": {
											"name": "PROPVALTYPE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 77
										},
										"sink": {
											"name": "PROPERTYTYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 78
										},
										"sink": {
											"name": "CURRENTOCCUPANCY",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 79
										},
										"sink": {
											"name": "VALUATIONMETHOD",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 80
										},
										"sink": {
											"name": "ORIGPROPVAL",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 81
										},
										"sink": {
											"name": "CURRENTLTV",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 82
										},
										"sink": {
											"name": "PROPVALNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 83
										},
										"sink": {
											"name": "LASTPMISTATEMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 84
										},
										"sink": {
											"name": "BORRPMICANCELREQUEST",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 85
										},
										"sink": {
											"name": "PMICANCELDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 86
										},
										"sink": {
											"name": "PMICANCELNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 87
										},
										"sink": {
											"name": "PMICANCELREQUESTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 88
										},
										"sink": {
											"name": "PMICANCELRESPONSE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 89
										},
										"sink": {
											"name": "PMICREDITAMOUNT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 90
										},
										"sink": {
											"name": "PMIFLAG",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 91
										},
										"sink": {
											"name": "PMIPMT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 92
										},
										"sink": {
											"name": "PMIREFUNDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 93
										},
										"sink": {
											"name": "LOANAMORTPERIOD",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 94
										},
										"sink": {
											"name": "LASTPAYMENTDUEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 95
										},
										"sink": {
											"name": "PRINCIPALBALANCE",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 96
										},
										"sink": {
											"name": "NOTOFACCTCLOSETOCREDAGENC",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 97
										},
										"sink": {
											"name": "PAIDOFFDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 98
										},
										"sink": {
											"name": "PITIAMOUNT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 99
										},
										"sink": {
											"name": "PIAMOUNT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 100
										},
										"sink": {
											"name": "TIAMOUNT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 101
										},
										"sink": {
											"name": "PAYMENTCOLLECTEDMTD",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 102
										},
										"sink": {
											"name": "PAYMENTCREDITDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 103
										},
										"sink": {
											"name": "PAYMENTPOSTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 104
										},
										"sink": {
											"name": "PAYMENTRECEIPTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 105
										},
										"sink": {
											"name": "PAYMENTDUEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 106
										},
										"sink": {
											"name": "PAYSTRING",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 107
										},
										"sink": {
											"name": "BORROWERESCROWDEFICIENCYNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 108
										},
										"sink": {
											"name": "ESCROWANALYSISDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 109
										},
										"sink": {
											"name": "ESCROWREFUNDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 110
										},
										"sink": {
											"name": "ESCROWBALANCE",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 111
										},
										"sink": {
											"name": "ESCROWMAKEUPPAYMENT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 112
										},
										"sink": {
											"name": "ESCROWDEFICIENCY",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 113
										},
										"sink": {
											"name": "ESCROWPAYMENTDUEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 114
										},
										"sink": {
											"name": "ESCROWSHORTAGE",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 115
										},
										"sink": {
											"name": "ESCROWSURPLUS",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 116
										},
										"sink": {
											"name": "INSURANCEELDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 117
										},
										"sink": {
											"name": "INSURANCEPAYMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 118
										},
										"sink": {
											"name": "MONTHLYESCROWPMT",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 119
										},
										"sink": {
											"name": "TAXDUEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 120
										},
										"sink": {
											"name": "TAXPAYMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 121
										},
										"sink": {
											"name": "NEWDELINQUENCYCHARGE",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 122
										},
										"sink": {
											"name": "NEWLATEFEE",
											"type": "Double"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 123
										},
										"sink": {
											"name": "LATECHARGEASSESSEDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 124
										},
										"sink": {
											"name": "LATECHARGESTOP",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 125
										},
										"sink": {
											"name": "ERRORNOTICEACKDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 126
										},
										"sink": {
											"name": "BORRDQNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 127
										},
										"sink": {
											"name": "FPINSURANCEREFUNDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 128
										},
										"sink": {
											"name": "CREDITEXTENDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 129
										},
										"sink": {
											"name": "REFUNDDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 130
										},
										"sink": {
											"name": "REFUNDREQDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 131
										},
										"sink": {
											"name": "DELINQUENTNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 132
										},
										"sink": {
											"name": "DISPUTERESOLUTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 133
										},
										"sink": {
											"name": "ISARM",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 134
										},
										"sink": {
											"name": "SUBSEQUENTINTERESTRATEADJUSTMENTPERIOD",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 135
										},
										"sink": {
											"name": "ARMINDEXCODE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 136
										},
										"sink": {
											"name": "ARMORIGINALPICHANGEDATE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 137
										},
										"sink": {
											"name": "NEXTPIADJUSTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 138
										},
										"sink": {
											"name": "ARMCHANGELETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 139
										},
										"sink": {
											"name": "INDEXAVAILABLELEADTIME",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 140
										},
										"sink": {
											"name": "ARMORIGINALPICHANGELETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 141
										},
										"sink": {
											"name": "BKSTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 142
										},
										"sink": {
											"name": "BKCHAPTER",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 143
										},
										"sink": {
											"name": "BKSTAGE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 144
										},
										"sink": {
											"name": "BKFLAG",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 145
										},
										"sink": {
											"name": "MFRHEARINGRESULTS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 146
										},
										"sink": {
											"name": "CRAMDOWNHEARINGRESULTS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 147
										},
										"sink": {
											"name": "ADVERSARIALRESULTS",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 148
										},
										"sink": {
											"name": "DAYSINFC",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 149
										},
										"sink": {
											"name": "FCSTAGE",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 150
										},
										"sink": {
											"name": "FCLSCHEDULEDSALEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 151
										},
										"sink": {
											"name": "FCSCHEDULEDSALEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 152
										},
										"sink": {
											"name": "FCGOVTFILEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 153
										},
										"sink": {
											"name": "FCFLAG",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 154
										},
										"sink": {
											"name": "NY1304NOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 155
										},
										"sink": {
											"name": "LIQUIDATIONTYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 156
										},
										"sink": {
											"name": "LMSTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 157
										},
										"sink": {
											"name": "BORRSCRAHARDSHIPTYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 158
										},
										"sink": {
											"name": "BORRSCRAHARDSHIPDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 159
										},
										"sink": {
											"name": "BORRINTENTION",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 160
										},
										"sink": {
											"name": "LMDEAL",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 161
										},
										"sink": {
											"name": "LMPROGRAM",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 162
										},
										"sink": {
											"name": "LMDECISION",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 163
										},
										"sink": {
											"name": "LOSSMITAPPACKDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 164
										},
										"sink": {
											"name": "LOSSMITAPPDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 165
										},
										"sink": {
											"name": "LOSSMITAPPEALDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 166
										},
										"sink": {
											"name": "LOSSMITAPPEALDECISIONLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 167
										},
										"sink": {
											"name": "LOSSMITAPPEALRESPDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 168
										},
										"sink": {
											"name": "LOSSMITAPPEAL",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 169
										},
										"sink": {
											"name": "LOSSMITAPPSTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 170
										},
										"sink": {
											"name": "LOSSMITASSIGNMENTDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 171
										},
										"sink": {
											"name": "LOSSMITOFFERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 172
										},
										"sink": {
											"name": "LOSSMITOPTDECISIONDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 173
										},
										"sink": {
											"name": "LOSSMITOPTIONSEXTENSIONLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 174
										},
										"sink": {
											"name": "LOSSMITOPTIONSLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 175
										},
										"sink": {
											"name": "LOSSMITPENDINGDOCSNOTICEDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 176
										},
										"sink": {
											"name": "LOSSMITOPTEXTLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 177
										},
										"sink": {
											"name": "LOSSMITOPTIONDECISIONDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 178
										},
										"sink": {
											"name": "DENIALREASON",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 179
										},
										"sink": {
											"name": "BORR1STCALLDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 180
										},
										"sink": {
											"name": "FORBEARANCESTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 181
										},
										"sink": {
											"name": "FORBEARANCETYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 182
										},
										"sink": {
											"name": "TRIALSTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 183
										},
										"sink": {
											"name": "REPAYMENTTYPE",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 184
										},
										"sink": {
											"name": "REPAYMENTSTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 185
										},
										"sink": {
											"name": "NODLETTERDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 186
										},
										"sink": {
											"name": "BORRRESPTOAPPEALRESPDATE",
											"type": "DateTime"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 187
										},
										"sink": {
											"name": "REOSTATUS",
											"type": "Int64"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 188
										},
										"sink": {
											"name": "REOHOLDREASON",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "Mesh_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SnowflakeTable1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-26T12:25:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Mesh_data')]",
				"[concat(variables('factoryId'), '/datasets/SnowflakeTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@pipeline().parameters.ListOfValues",
								"type": "Expression"
							},
							"condition": {
								"value": "@greater(item(),3)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Filter1').output",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*.csv",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DelimitedText3",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText2",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ListOfValues": {
						"type": "array",
						"defaultValue": [
							1,
							2,
							3,
							5,
							7
						]
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-27T10:01:30Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline5')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(pipeline().parameters.copyOutput1)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Mesh100k_data",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Dataset_with_parameter",
											"type": "DatasetReference",
											"parameters": {
												"outputFolder": {
													"value": "@pipeline().parameters.Output2Folder",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AmazonS3ReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "Mesh_data",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "Dataset_with_parameter",
											"type": "DatasetReference",
											"parameters": {
												"outputFolder": {
													"value": "@pipeline().parameters.Output1Folder",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"copyOutput1": {
						"type": "string",
						"defaultValue": "true"
					},
					"Output1Folder": {
						"type": "string",
						"defaultValue": "output1"
					},
					"Output2Folder": {
						"type": "string",
						"defaultValue": "output2"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-27T10:50:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Mesh100k_data')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_with_parameter')]",
				"[concat(variables('factoryId'), '/datasets/Mesh_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Until1",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('FileAvailable'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Get Metadata1",
									"type": "GetMetadata",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "Mesh100k_data",
											"type": "DatasetReference",
											"parameters": {}
										},
										"fieldList": [
											"exists"
										],
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true,
											"enablePartitionDiscovery": false
										},
										"formatSettings": {
											"type": "DelimitedTextReadSettings"
										}
									}
								},
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Get Metadata1",
											"dependencyConditions": [
												"Completed"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(activity('Get Metadata1').output.exists)",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Wait1",
												"type": "Wait",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"waitTimeInSeconds": 2
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "FileAvailable",
													"value": "true"
												}
											}
										]
									}
								}
							],
							"timeout": "0.12:00:00"
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Until1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Mesh100k_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Dataset_with_parameter",
								"type": "DatasetReference",
								"parameters": {
									"outputFolder": "output_untill"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"FileAvailable": {
						"type": "String",
						"defaultValue": "false"
					}
				},
				"annotations": [],
				"lastPublishTime": "2023-09-27T12:09:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Mesh100k_data')]",
				"[concat(variables('factoryId'), '/datasets/Dataset_with_parameter')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Dataset_with_parameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStoragedynamic",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"outputFolder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().outputFolder",
							"type": "Expression"
						},
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStoragedynamic')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "output.csv",
						"folderPath": "output",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "output",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "Error",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Name",
						"type": "String"
					},
					{
						"name": "Category",
						"type": "String"
					},
					{
						"name": "Status",
						"type": "String"
					},
					{
						"name": "Error",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Emp_dataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "employee_data_1.csv",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "id",
						"type": "String"
					},
					{
						"name": "first_name",
						"type": "String"
					},
					{
						"name": "last_name",
						"type": "String"
					},
					{
						"name": "email",
						"type": "String"
					},
					{
						"name": "location",
						"type": "String"
					},
					{
						"name": "department\r",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mesh100k_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "mesh_100k_loan_0713c_1689255555881.csv",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "LoanID",
						"type": "String"
					},
					{
						"name": "DataAsOf",
						"type": "String"
					},
					{
						"name": "InvestorID",
						"type": "String"
					},
					{
						"name": "InvestorName",
						"type": "String"
					},
					{
						"name": "BoardDate",
						"type": "String"
					},
					{
						"name": "LienPosition",
						"type": "String"
					},
					{
						"name": "LoanType",
						"type": "String"
					},
					{
						"name": "LoanProduct",
						"type": "String"
					},
					{
						"name": "LoanPurpose",
						"type": "String"
					},
					{
						"name": "LastStatementDate",
						"type": "String"
					},
					{
						"name": "OriginalNoteDate",
						"type": "String"
					},
					{
						"name": "FEMAaffect",
						"type": "String"
					},
					{
						"name": "CourtesyPeriod",
						"type": "String"
					},
					{
						"name": "IsAttorney",
						"type": "String"
					},
					{
						"name": "AnnualEscrowAccountStatementDate",
						"type": "String"
					},
					{
						"name": "EscrowAccountComputationDate",
						"type": "String"
					},
					{
						"name": "EscrowCancelDate",
						"type": "String"
					},
					{
						"name": "IsEscrowed",
						"type": "String"
					},
					{
						"name": "EscrowCancelNoticeDate",
						"type": "String"
					},
					{
						"name": "EvidenceOfInsDate",
						"type": "String"
					},
					{
						"name": "InitialEscrowStatementDate",
						"type": "String"
					},
					{
						"name": "OriginalEscrowNoticeDate",
						"type": "String"
					},
					{
						"name": "BorrEscrowCancelReqDate",
						"type": "String"
					},
					{
						"name": "MBADQ",
						"type": "String"
					},
					{
						"name": "LoanSchedForSale",
						"type": "String"
					},
					{
						"name": "AdverseCreditBorrNoticeDate",
						"type": "String"
					},
					{
						"name": "AdverseCreditReportDate",
						"type": "String"
					},
					{
						"name": "BorrErrorDocReqDate",
						"type": "String"
					},
					{
						"name": "BorrErrorNoticeDate",
						"type": "String"
					},
					{
						"name": "BorrErrorNoticeOnPayoff",
						"type": "String"
					},
					{
						"name": "BorrInfoReqDate",
						"type": "String"
					},
					{
						"name": "BorrNoticeErrorDate",
						"type": "String"
					},
					{
						"name": "ErrorResExtension",
						"type": "String"
					},
					{
						"name": "ErrorResDocDate",
						"type": "String"
					},
					{
						"name": "ErrorResLetterDate",
						"type": "String"
					},
					{
						"name": "InfoReqResponseDate",
						"type": "String"
					},
					{
						"name": "NoticeAckLetterDate",
						"type": "String"
					},
					{
						"name": "PayoffDeliveryDate",
						"type": "String"
					},
					{
						"name": "PayoffRequestDate",
						"type": "String"
					},
					{
						"name": "ForcePlacedIns",
						"type": "String"
					},
					{
						"name": "ForcePlacedInsFeeDate",
						"type": "String"
					},
					{
						"name": "ForcePlacedInsNotice",
						"type": "String"
					},
					{
						"name": "ForcePlacedInsReminder",
						"type": "String"
					},
					{
						"name": "FPInsuranceCancelDate",
						"type": "String"
					},
					{
						"name": "Transfer404noticedate",
						"type": "String"
					},
					{
						"name": "GoodbyeLetterDate",
						"type": "String"
					},
					{
						"name": "ServiceReleaseDate",
						"type": "String"
					},
					{
						"name": "ServiceReleaseScheduledDate",
						"type": "String"
					},
					{
						"name": "WelcomeLetterDate",
						"type": "String"
					},
					{
						"name": "WarningStatus",
						"type": "String"
					},
					{
						"name": "DelinqStatAtBoarding",
						"type": "String"
					},
					{
						"name": "DocumentationType",
						"type": "String"
					},
					{
						"name": "LegalStatus",
						"type": "String"
					},
					{
						"name": "PrepaymentPenaltyFee",
						"type": "String"
					},
					{
						"name": "InterestMethod",
						"type": "String"
					},
					{
						"name": "LoanAPR",
						"type": "String"
					},
					{
						"name": "AdditionalDisputeInfoDate",
						"type": "String"
					},
					{
						"name": "SPOCAssgnDate",
						"type": "String"
					},
					{
						"name": "SCRAStatus",
						"type": "String"
					},
					{
						"name": "SCRAStatusRunDate",
						"type": "String"
					},
					{
						"name": "BorrSCRANoticeDate",
						"type": "String"
					},
					{
						"name": "EFTSchdNotDate",
						"type": "String"
					},
					{
						"name": "ETFSchedDate",
						"type": "String"
					},
					{
						"name": "BorrFirstName",
						"type": "String"
					},
					{
						"name": "BorrLastName",
						"type": "String"
					},
					{
						"name": "MailingState",
						"type": "String"
					},
					{
						"name": "BorrCurrFICO",
						"type": "String"
					},
					{
						"name": "OrigBorrFICO",
						"type": "String"
					},
					{
						"name": "PropAddress1",
						"type": "String"
					},
					{
						"name": "PropAddress2",
						"type": "String"
					},
					{
						"name": "PropCity",
						"type": "String"
					},
					{
						"name": "PropState",
						"type": "String"
					},
					{
						"name": "PropZip",
						"type": "String"
					},
					{
						"name": "PropGeoCode",
						"type": "String"
					},
					{
						"name": "PropCounty",
						"type": "String"
					},
					{
						"name": "PropValType",
						"type": "String"
					},
					{
						"name": "PropertyType",
						"type": "String"
					},
					{
						"name": "CurrentOccupancy",
						"type": "String"
					},
					{
						"name": "ValuationMethod",
						"type": "String"
					},
					{
						"name": "OrigPropVal",
						"type": "String"
					},
					{
						"name": "CurrentLTV",
						"type": "String"
					},
					{
						"name": "PropValNoticeDate",
						"type": "String"
					},
					{
						"name": "LastPMIStatementDate",
						"type": "String"
					},
					{
						"name": "BorrPMICancelRequest",
						"type": "String"
					},
					{
						"name": "PMICancelDate",
						"type": "String"
					},
					{
						"name": "PMICancelNoticeDate",
						"type": "String"
					},
					{
						"name": "PMICancelRequestDate",
						"type": "String"
					},
					{
						"name": "PMICancelResponse",
						"type": "String"
					},
					{
						"name": "PMICreditAmount",
						"type": "String"
					},
					{
						"name": "PMIFlag",
						"type": "String"
					},
					{
						"name": "PMIPmt",
						"type": "String"
					},
					{
						"name": "PMIRefundDate",
						"type": "String"
					},
					{
						"name": "LoanAmortPeriod",
						"type": "String"
					},
					{
						"name": "LastPaymentDueDate",
						"type": "String"
					},
					{
						"name": "PrincipalBalance",
						"type": "String"
					},
					{
						"name": "NotOfAcctCloseToCredAgenc",
						"type": "String"
					},
					{
						"name": "PaidOffDate",
						"type": "String"
					},
					{
						"name": "PITIAmount",
						"type": "String"
					},
					{
						"name": "PIAmount",
						"type": "String"
					},
					{
						"name": "TIAmount",
						"type": "String"
					},
					{
						"name": "PaymentCollectedMTD",
						"type": "String"
					},
					{
						"name": "PaymentCreditDate",
						"type": "String"
					},
					{
						"name": "PaymentPostDate",
						"type": "String"
					},
					{
						"name": "PaymentReceiptDate",
						"type": "String"
					},
					{
						"name": "PaymentDueDate",
						"type": "String"
					},
					{
						"name": "Paystring",
						"type": "String"
					},
					{
						"name": "BorrowerEscrowDeficiencyNoticeDate",
						"type": "String"
					},
					{
						"name": "EscrowAnalysisDate",
						"type": "String"
					},
					{
						"name": "EscrowRefundDate",
						"type": "String"
					},
					{
						"name": "EscrowBalance",
						"type": "String"
					},
					{
						"name": "EscrowMakeUpPayment",
						"type": "String"
					},
					{
						"name": "EscrowDeficiency",
						"type": "String"
					},
					{
						"name": "EscrowPaymentDueDate",
						"type": "String"
					},
					{
						"name": "EscrowShortage",
						"type": "String"
					},
					{
						"name": "EscrowSurplus",
						"type": "String"
					},
					{
						"name": "InsuranceELDDate",
						"type": "String"
					},
					{
						"name": "InsurancePaymentDate",
						"type": "String"
					},
					{
						"name": "MonthlyEscrowPmt",
						"type": "String"
					},
					{
						"name": "TaxDueDate",
						"type": "String"
					},
					{
						"name": "TaxPaymentDate",
						"type": "String"
					},
					{
						"name": "NewDelinquencyCharge",
						"type": "String"
					},
					{
						"name": "NewLateFee",
						"type": "String"
					},
					{
						"name": "LateChargeAssessedDate",
						"type": "String"
					},
					{
						"name": "LateChargeStop",
						"type": "String"
					},
					{
						"name": "ErrorNoticeAckDate",
						"type": "String"
					},
					{
						"name": "BorrDQNoticeDate",
						"type": "String"
					},
					{
						"name": "FPInsuranceRefundDate",
						"type": "String"
					},
					{
						"name": "CreditExtendDate",
						"type": "String"
					},
					{
						"name": "RefundDate",
						"type": "String"
					},
					{
						"name": "RefundReqDate",
						"type": "String"
					},
					{
						"name": "DelinquentNoticeDate",
						"type": "String"
					},
					{
						"name": "DisputeResolution",
						"type": "String"
					},
					{
						"name": "IsARM",
						"type": "String"
					},
					{
						"name": "SubsequentInterestRateAdjustmentPeriod",
						"type": "String"
					},
					{
						"name": "ARMIndexCode",
						"type": "String"
					},
					{
						"name": "ARMOriginalPIChangeDate",
						"type": "String"
					},
					{
						"name": "NextPIAdjustDate",
						"type": "String"
					},
					{
						"name": "ARMChangeLetterDate",
						"type": "String"
					},
					{
						"name": "IndexAvailableLeadTime",
						"type": "String"
					},
					{
						"name": "ARMOriginalPIChangeLetterDate",
						"type": "String"
					},
					{
						"name": "BKStatus",
						"type": "String"
					},
					{
						"name": "BKChapter",
						"type": "String"
					},
					{
						"name": "BKStage",
						"type": "String"
					},
					{
						"name": "BKFlag",
						"type": "String"
					},
					{
						"name": "MFRHearingResults",
						"type": "String"
					},
					{
						"name": "CramdownHearingResults",
						"type": "String"
					},
					{
						"name": "AdversarialResults",
						"type": "String"
					},
					{
						"name": "DaysInFC",
						"type": "String"
					},
					{
						"name": "FCStage",
						"type": "String"
					},
					{
						"name": "FCLScheduledSaleDate",
						"type": "String"
					},
					{
						"name": "FCScheduledSaleDate",
						"type": "String"
					},
					{
						"name": "FCGovtFileDate",
						"type": "String"
					},
					{
						"name": "FCFlag",
						"type": "String"
					},
					{
						"name": "NY1304NoticeDate",
						"type": "String"
					},
					{
						"name": "LiquidationType",
						"type": "String"
					},
					{
						"name": "LMStatus",
						"type": "String"
					},
					{
						"name": "BorrSCRAHardshipType",
						"type": "String"
					},
					{
						"name": "BorrSCRAHardshipDate",
						"type": "String"
					},
					{
						"name": "BorrIntention",
						"type": "String"
					},
					{
						"name": "LMDeal",
						"type": "String"
					},
					{
						"name": "LMProgram",
						"type": "String"
					},
					{
						"name": "LMDecision",
						"type": "String"
					},
					{
						"name": "LossMitAppAckDate",
						"type": "String"
					},
					{
						"name": "LossMitAppDate",
						"type": "String"
					},
					{
						"name": "LossMitAppealDate",
						"type": "String"
					},
					{
						"name": "LossMitAppealDecisionLetterDate",
						"type": "String"
					},
					{
						"name": "LossMitAppealRespDate",
						"type": "String"
					},
					{
						"name": "LossMitAppeal",
						"type": "String"
					},
					{
						"name": "LossMitAppStatus",
						"type": "String"
					},
					{
						"name": "LossMitAssignmentDate",
						"type": "String"
					},
					{
						"name": "LossMitOfferDate",
						"type": "String"
					},
					{
						"name": "LossMitOptDecisionDate",
						"type": "String"
					},
					{
						"name": "LossMitOptionsExtensionLetterDate",
						"type": "String"
					},
					{
						"name": "LossMitOptionsLetterDate",
						"type": "String"
					},
					{
						"name": "LossMitPendingDocsNoticeDate",
						"type": "String"
					},
					{
						"name": "LossMitOptExtLetterDate",
						"type": "String"
					},
					{
						"name": "LossMitOptionDecisionDate",
						"type": "String"
					},
					{
						"name": "DenialReason",
						"type": "String"
					},
					{
						"name": "Borr1stCallDate",
						"type": "String"
					},
					{
						"name": "ForbearanceStatus",
						"type": "String"
					},
					{
						"name": "ForbearanceType",
						"type": "String"
					},
					{
						"name": "TrialStatus",
						"type": "String"
					},
					{
						"name": "RepaymentType",
						"type": "String"
					},
					{
						"name": "RepaymentStatus",
						"type": "String"
					},
					{
						"name": "NODLetterDate",
						"type": "String"
					},
					{
						"name": "BorrRespToAppealRespDate",
						"type": "String"
					},
					{
						"name": "REOStatus",
						"type": "String"
					},
					{
						"name": "REOHoldReason",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Mesh_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AmazonS31",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "snowflake-nav-bucket-1",
						"folderPath": "pipeline",
						"fileName": "mesh_100_loan_0811_without_header.csv"
					},
					"columnDelimiter": ",",
					"rowDelimiter": "\n",
					"escapeChar": "\\",
					"firstRowAsHeader": false,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AmazonS31')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snow_Table_with_parameter')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake3",
					"type": "LinkedServiceReference",
					"parameters": {
						"dbname": {
							"value": "@dataset().dbNamefromDataset",
							"type": "Expression"
						},
						"warehouse": "COMPUTE_WH"
					}
				},
				"parameters": {
					"table_name": {
						"type": "string"
					},
					"dbNamefromDataset": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [],
				"typeProperties": {
					"schema": "TRIAL_SCHEMA",
					"table": {
						"value": "@dataset().table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SnowflakeTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Snowflake2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "LOANID",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "DATAASOF",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "INVESTORID",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "INVESTORNAME",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "BOARDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LIENPOSITION",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOANTYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOANPRODUCT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOANPURPOSE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LASTSTATEMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ORIGINALNOTEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FEMAAFFECT",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "COURTESYPERIOD",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ISATTORNEY",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ANNUALESCROWACCOUNTSTATEMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ESCROWACCOUNTCOMPUTATIONDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ESCROWCANCELDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ISESCROWED",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ESCROWCANCELNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EVIDENCEOFINSDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "INITIALESCROWSTATEMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ORIGINALESCROWNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRESCROWCANCELREQDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "MBADQ",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOANSCHEDFORSALE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ADVERSECREDITBORRNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ADVERSECREDITREPORTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRERRORDOCREQDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRERRORNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRERRORNOTICEONPAYOFF",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRINFOREQDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRNOTICEERRORDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ERRORRESEXTENSION",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ERRORRESDOCDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ERRORRESLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "INFOREQRESPONSEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "NOTICEACKLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAYOFFDELIVERYDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAYOFFREQUESTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FORCEPLACEDINS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "FORCEPLACEDINSFEEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FORCEPLACEDINSNOTICE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FORCEPLACEDINSREMINDER",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FPINSURANCECANCELDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "TRANSFER404NOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "GOODBYELETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "SERVICERELEASEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "SERVICERELEASESCHEDULEDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "WELCOMELETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "WARNINGSTATUS",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "DELINQSTATATBOARDING",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "DOCUMENTATIONTYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LEGALSTATUS",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "PREPAYMENTPENALTYFEE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "INTERESTMETHOD",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOANAPR",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "ADDITIONALDISPUTEINFODATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "SPOCASSGNDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "SCRASTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "SCRASTATUSRUNDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRSCRANOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "EFTSCHDNOTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ETFSCHEDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRFIRSTNAME",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "BORRLASTNAME",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "MAILINGSTATE",
						"type": "VARCHAR",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "BORRCURRFICO",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ORIGBORRFICO",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PROPADDRESS1",
						"type": "VARCHAR",
						"precision": 100,
						"scale": 0
					},
					{
						"name": "PROPADDRESS2",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "PROPCITY",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "PROPSTATE",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PROPZIP",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PROPGEOCODE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PROPCOUNTY",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PROPVALTYPE",
						"type": "VARCHAR",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PROPERTYTYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "CURRENTOCCUPANCY",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "VALUATIONMETHOD",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ORIGPROPVAL",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "CURRENTLTV",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PROPVALNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LASTPMISTATEMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRPMICANCELREQUEST",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PMICANCELDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PMICANCELNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PMICANCELREQUESTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PMICANCELRESPONSE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PMICREDITAMOUNT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "PMIFLAG",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "PMIPMT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "PMIREFUNDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOANAMORTPERIOD",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LASTPAYMENTDUEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PRINCIPALBALANCE",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "NOTOFACCTCLOSETOCREDAGENC",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAIDOFFDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PITIAMOUNT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "PIAMOUNT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "TIAMOUNT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "PAYMENTCOLLECTEDMTD",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "PAYMENTCREDITDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAYMENTPOSTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAYMENTRECEIPTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAYMENTDUEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "PAYSTRING",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BORROWERESCROWDEFICIENCYNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ESCROWANALYSISDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ESCROWREFUNDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ESCROWBALANCE",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "ESCROWMAKEUPPAYMENT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "ESCROWDEFICIENCY",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "ESCROWPAYMENTDUEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ESCROWSHORTAGE",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "ESCROWSURPLUS",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "INSURANCEELDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "INSURANCEPAYMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "MONTHLYESCROWPMT",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "TAXDUEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "TAXPAYMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "NEWDELINQUENCYCHARGE",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "NEWLATEFEE",
						"type": "FLOAT",
						"precision": 15,
						"scale": 0
					},
					{
						"name": "LATECHARGEASSESSEDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LATECHARGESTOP",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ERRORNOTICEACKDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRDQNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FPINSURANCEREFUNDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "CREDITEXTENDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "REFUNDDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "REFUNDREQDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DELINQUENTNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DISPUTERESOLUTION",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "ISARM",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "SUBSEQUENTINTERESTRATEADJUSTMENTPERIOD",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "ARMINDEXCODE",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "ARMORIGINALPICHANGEDATE",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "NEXTPIADJUSTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ARMCHANGELETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "INDEXAVAILABLELEADTIME",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "ARMORIGINALPICHANGELETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BKSTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BKCHAPTER",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BKSTAGE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BKFLAG",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "MFRHEARINGRESULTS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "CRAMDOWNHEARINGRESULTS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "ADVERSARIALRESULTS",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "DAYSINFC",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "FCSTAGE",
						"type": "VARCHAR",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "FCLSCHEDULEDSALEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FCSCHEDULEDSALEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FCGOVTFILEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FCFLAG",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "NY1304NOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LIQUIDATIONTYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LMSTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BORRSCRAHARDSHIPTYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BORRSCRAHARDSHIPDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRINTENTION",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					},
					{
						"name": "LMDEAL",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LMPROGRAM",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LMDECISION",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPACKDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPEALDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPEALDECISIONLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPEALRESPDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPEAL",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOSSMITAPPSTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LOSSMITASSIGNMENTDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITOFFERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITOPTDECISIONDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITOPTIONSEXTENSIONLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITOPTIONSLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITPENDINGDOCSNOTICEDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITOPTEXTLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "LOSSMITOPTIONDECISIONDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "DENIALREASON",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "BORR1STCALLDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "FORBEARANCESTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "FORBEARANCETYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "TRIALSTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "REPAYMENTTYPE",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "REPAYMENTSTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "NODLETTERDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "BORRRESPTOAPPEALRESPDATE",
						"type": "DATE",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "REOSTATUS",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "REOHOLDREASON",
						"type": "VARCHAR",
						"precision": 30,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "TRIAL_SCHEMA",
					"table": "MESH_DATA_AUTO"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Snowflake2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/empdeptdataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "*.csv",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/invalidrecord')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "invalid.csv",
						"folderPath": "invalidrecord",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/valid_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "validrecord.csv",
						"folderPath": "valid_emp_record",
						"container": "snowflake-migration"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AmazonS31')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "https://s3.amazonaws.com",
					"accessKeyId": "[parameters('AmazonS31_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('AmazonS31_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStoragedynamic')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStoragedynamic_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('Snowflake2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Snowflake3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"dbname": {
						"type": "string"
					},
					"warehouse": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"authenticationType": "Basic",
					"connectionString": "[parameters('Snowflake3_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EventTrigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/snowflake-migration/blobs/",
					"blobPathEndsWith": ".csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('EventTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfhostedIR')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "empdeptdataset",
								"type": "DatasetReference"
							},
							"name": "Empdata"
						},
						{
							"dataset": {
								"referenceName": "empdeptdataset",
								"type": "DatasetReference"
							},
							"name": "Department"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "AzureBlobStorage1",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "joinOnDeptId"
						},
						{
							"name": "filter1"
						},
						{
							"name": "sort1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select1"
						},
						{
							"name": "pivot1"
						},
						{
							"name": "unpivot1"
						},
						{
							"name": "surrogateKey1"
						},
						{
							"name": "window1"
						},
						{
							"name": "select2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          EmployeeID as integer,",
						"          FirstName as string,",
						"          LastName as string,",
						"          Email as string,",
						"          DepartmentID as integer,",
						"          DateOfHire as date,",
						"          Salary as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     wildcardPaths:['*emp.csv']) ~> Empdata",
						"source(output(",
						"          DepartmentID as integer,",
						"          DepartmentName as string,",
						"          Location as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false,",
						"     wildcardPaths:['*dept.csv']) ~> Department",
						"Empdata, Department join(Empdata@DepartmentID == Department@DepartmentID,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> joinOnDeptId",
						"derivedColumn1 filter(Salary>60000) ~> filter1",
						"filter1 sort(asc(EmployeeID, true)) ~> sort1",
						"joinOnDeptId derive(Location = iif(Location == \"New York\",\"NY\",Location)) ~> derivedColumn1",
						"joinOnDeptId select(mapColumn(",
						"          EmployeeID,",
						"          FirstName,",
						"          LastName,",
						"          Email,",
						"          DateOfHire,",
						"          Salary,",
						"          DepartmentID = Department@DepartmentID,",
						"          DepartmentName,",
						"          Location",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 pivot(groupBy(DepartmentID),",
						"     pivotBy(DepartmentName),",
						"     no_emp = count(EmployeeID),",
						"     columnNaming: '$N$V',",
						"     lateral: true) ~> pivot1",
						"Department unpivot(output(",
						"          test as string,",
						"          DepartmentName as string",
						"     ),",
						"     ungroupBy(DepartmentID),",
						"     lateral: true,",
						"     ignoreNullPivots: false) ~> unpivot1",
						"unpivot1 keyGenerate(output(emp_id as long),",
						"     startAt: 1L,",
						"     stepValue: 1L) ~> surrogateKey1",
						"joinOnDeptId window(over(DepartmentName),",
						"     desc(Salary, true),",
						"     rank = denseRank()) ~> window1",
						"window1 select(mapColumn(",
						"          DepartmentName,",
						"          rank,",
						"          Salary",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"sort1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'delimited',",
						"     container: 'snowflake-migration',",
						"     folderPath: 'output',",
						"     rowDelimiter: '\\n',",
						"     columnDelimiter: ',',",
						"     escapeChar: '\\\\',",
						"     quoteChar: '\\\"',",
						"     columnNamesAsHeader: false,",
						"     partitionFileNames:['dataflow.csv'],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          EmployeeID,",
						"          FirstName,",
						"          LastName,",
						"          Email,",
						"          DepartmentID = Empdata@DepartmentID,",
						"          DateOfHire,",
						"          Salary,",
						"          DepartmentName,",
						"          Location",
						"     ),",
						"     partitionBy('hash', 1)) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/empdeptdataset')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureBlobStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dataflow_for_quality')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "Emp_dataset",
								"type": "DatasetReference"
							},
							"name": "sourcedata"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "valid_data",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "invalidrecord",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "validationrules"
						},
						{
							"name": "split1"
						}
					],
					"scriptLines": [
						"parameters{",
						"     id as integer",
						"}",
						"source(output(",
						"          id as integer,",
						"          first_name as string,",
						"          last_name as string,",
						"          email as string,",
						"          location as string,",
						"          {department\\r} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> sourcedata",
						"sourcedata assert(expectTrue(between(id,1,20), false, 'valid')) ~> validationrules",
						"validationrules split(!hasError('valid'),",
						"     disjoint: false) ~> split1@(validdata, invaliddata)",
						"split1@validdata sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1",
						"split1@invaliddata sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Emp_dataset')]",
				"[concat(variables('factoryId'), '/datasets/valid_data')]",
				"[concat(variables('factoryId'), '/datasets/invalidrecord')]"
			]
		}
	]
}